

@import 'variables';
@import 'fonts';


body{
    h1{
        font-size: 3em;
        color: rgb(52, 43, 87);
        font-family: $default-font;
    }
}
svg{
    path{
        &:hover{
            fill:rgba(104, 93, 93, 0.096);
            stroke:rgb(3, 3, 3);
        }
    }
}